.input-wrapper {
    display: flex;
    border: 2px solid var(--color-secondary);
    border-radius: var(--border-radius);
    padding: 8px 16px;
    fill: var(--text-dark);
    cursor: text;
    transition-duration: var(--transition-duration);
    background-color: var(--color-secondary);
}
.input-wrapper:focus-within,
.input-wrapper:hover {
    border: 2px solid var(--color-primary);
    fill: var(--color-primary);
}

.input-wrapper input {
    width: 100%;
    font-size: 16px;
    border: none;
    outline: none;
    background-color: transparent;
    color: var(--text-dark);
}

.input-wrapper input::placeholder {
    color: var(--text-dark);
    opacity: 0.5;
}

.input-icon {
    width: 16px;
    height: 16px;
}