.stock-portfolio-card {
    display: flex;
    flex-grow: 1;
    background-color: var(--color-main);
    flex-direction: column;
    gap: 6px;
    cursor: pointer;
    transition-duration: var(--transition-duration);
    padding: 1rem;
    position: relative;
}
.stock-portfolio-info {
    pointer-events: none;
}
.stock-portfolio-header {
    position: relative;
    display: flex;
    justify-content: space-between;
    gap: 12px;
    /* align-items: center; */
}
.stock-portfolio-name {
    display: flex;
    gap: 0.25rem;
    flex-direction: column;
}
.stock-portfolio-card:hover {
    background-color: var(--color-secondary);
}
.stock-portfolio-logo {
    width: 35px;
    height: 35px;
    min-width: 35px;
    position: relative;
}
.stock-portfolio-logo img {
    width: 100%;
    height: 100%;
    border-radius: 50%;
}

.stock-portfolio-info {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.stock-portfolio-detail {
    display: grid;
    justify-content: end;
    text-align: end;
    gap: 6px;
}
.stock-portfolio-last-price {
    font-weight: 500;
    font-size: 18px;
}
.stock-portfolio-change {
    opacity: 0.5;
    background-color: var(--color-secondary);
    padding: 2px 4px;
    border-radius: var(--border-radius-sm);
}
.stock-portfolio-change-negative {
    color: var(--color-danger);
    opacity: 1;
    background-color: var(--color-danger-light);
}
.stock-portfolio-change-positive {
    color: var(--color-success);
    background-color: var(--color-success-light);
    opacity: 1;
}

.stock-portfolio-pnl {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

@media (max-width: 769px) {
    .stock-portfolio-card {
        padding: 1rem 0.5rem;
    }
}