:root {
  --color-main: #ffffff;
  --color-secondary: #f6f7f8;
  --color-tertiary: #f0f0f0;
  --color-primary: #FF0078;
  --color-border: #2E2E3B;

  --text-light: #ffffff;
  --text-dark: #2E2E3B;
  --box-shadow: 0 10px 20px rgb(0 0 0 / 10%);
  --box-shadow-sm: 0 10px 20px rgb(0 0 0 / 1%);
  
  --transition-duration: .3s;

  --border-radius: 14px;
  --border-radius-sm: 4px;

  --color-warning: #ffbd2c;
  --color-danger: #ff5e59;
  --color-success: #1ED760;
}

* {
  margin: 0;
  padding: 0;
  -webkit-tap-highlight-color: transparent;
}
*::-webkit-scrollbar {
  width: 8px;
}
*::-webkit-scrollbar-track {
  background: var(--color-tertiary);
}
*::-webkit-scrollbar-thumb {
  min-height: 65px;
  background-color: var(--color-border);
  border: 1px solid var(--color-border);
}

@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@400;500;600;700&display=swap');

body {
  margin: 0;
  font-family: Rubik,sans-serif;
  -webkit-font-smoothing: antialiased;
  font-weight: 400;
  min-height: 100vh;
  background: var(--color-tertiary);
}

.container {
  max-width: 850px;
  margin: 0 auto;
  padding: 0 16px;
}
.content {
  padding-left: 116px;
}
.content-body {
  padding: 0px 0;
}

.app {
  min-height: 100%;
  position: relative
}

.flex {
  display: flex;
}
.flex-col {
  flex-direction: column;
} 
.justify-between {
  justify-content: space-between;
}
.flex-grow-1 {
  flex-grow: 1;
}
.gap-1 {
  gap: 16px;
}
.gap-2 {
  gap: 12px;
}
.gap-3 {
  gap: 8px;
}
.gap-4 {
  gap: 4px;
}

.btn {
  background-color: var(--text-dark);
  border-radius: var(--border-radius-sm);
  border: 1px solid var(--color-border);
  color: #ffffff;
  align-items: center;
  fill: #ffffff;
  padding: 6px 8px;
  cursor: pointer;
  display: flex;
  gap: 8px;
  transition-duration: var(--transition-duration);
  user-select: none;
}
.btn:hover {
  color: var(--text-dark);
  background-color: var(--text-light);
}
.btn:active {
  color: var(--text-light);
  background-color: var(--text-dark);
}
.btn.btn-secondary {
  color: var(--text-dark);
  background-color: var(--text-light);
}
.btn.btn-secondary:active,
.btn.btn-secondary:hover {
  color: var(--text-light);
  background-color: var(--text-dark);
}
.btn.btn-primary {
  background-color: var(--color-primary);
  border-color: var(--color-primary);
  color: var(--text-light);
}
.btn.btn-primary:hover {
  opacity: .75;
}
.btn.btn-primary:active {
  opacity: 1;
}
.btn svg {
  margin-left: 8px;
}

.text-danger {
  color: var(--color-danger);
}
.text-success {
  color: var(--color-success);
}

.border-bottom {
  border-bottom: 1px solid var(--color-secondary);
}

@media (max-width: 769px) {
  .content {
    padding-left: 16px;
  }
}